target/
test-output/
test-output/Tests/Test1.html

test-output/Tests/Test1.html

test-output/Tests/Test2.html

test-output/Tests/Test1.xml

test-output/Tests/Test2.html

test-output/Tests/Test2.xml

test-output/emailable-report.html

test-output/index.html

test-output/junitreports/TEST-ua.bms.test.LoginTest.xml

test-output/old/Tests/methods-alphabetical.html

test-output/old/Tests/methods.html

test-output/testng-results.xml
