<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests">
	<test verbose="1" name="Test1">
		<groups>
			<run>
				<include name = "login1" />
				<include name = "login2" />
				<include name = "login3" />
			</run>
		</groups>
		<classes>
      		 <class name="ua.bms.test.LoginTest" />
 		</classes>
	</test>  

	<test verbose="1" name="Test2">
		<groups>
			<run>
				<include name = "unit9" />
			</run>
		</groups>
		<classes>
      		 <class name="ua.bms.test.Unit9MilitaryTest" />
 		</classes>
	</test>
</suite>
