<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests">

	<test verbose="1" name="Test1">

		<classes>
      		 <class name="ua.bms.osop.test.LoginTest" />
 		</classes>
	</test>  

	<test verbose="1" name="Test2">

		<classes>
      		 <class name="ua.bms.osop.test.Unit9MilitaryTest" />
 		</classes>
	</test>
	
		<test verbose="1" name="Test3">

		<classes>
      		 <class name="ua.bms.osop.test.Unit7MassMediaTest" />
 		</classes>
	</test>

</suite>
